[Unit]
Description = rtsp-viewer service
After = systemd-user-sessions.service

[Service]
User = pi
Group = pi
Type = simple
ExecStart = /usr/local/bin/grid-view
Restart = on-failure
RestartSec = 5
StandardOutput=file:/var/log/rtsp-viewer.log
StandardError=file:/var/log/rtsp-viewer.log

[Install]
WantedBy = multi-user.target
